$site-font-men:"游明朝",
YuMincho,
"ヒラギノ明朝 ProN W3",
"Hiragino Mincho ProN",
"HG明朝E",
"ＭＳ Ｐ明朝",
"ＭＳ 明朝",
serif;
$device_pc: 1440;
$device_tab: 1024;
$device_sp: 375;
$font-notosans: 'Noto Sans JP';
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 769px;